.sectors-container {
  /* margin: 10px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* border-bottom: 1px solid #ddd; */
}

.sectors-container .sector {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 15px;
}

.commodities-container {
  flex: 1 0 20%;
  margin: 5px 0;
  padding-top: 1rem;
  /* margin: 10px 10; */
  /* border-bottom: 1px solid #ddd; */
}

.commodities-container .dropdown {
  flex: 1 0 20%;
  margin-left: 0px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

.sectors-container .sector:hover {
  background-color: #ddd;
}

.searchYears-container .searchYears-header, .results-container .searchYear {
  align-items: center;
  height: 40px;

}

.searchYear .title, .searchYears-header .header-lg {
  flex: 1 0 50%;
}

.searchYears-header .header, .year .production, .ending_stocks {
  flex: 1 0 25%;
}

.searchYears-container .results-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 0px;
  padding: 100 10px;
  
}
  
  .searchYears .header, 
  .searchYears .year, 
  .searchYears .production, 
  .searchYears .domestic_consumption {
    flex: 1 0 25%;
  }

  .monthAvs-container .monthAvs-header, .results2-container .monthAv {
    align-items: center;
    height: 40px;
  }
  
  .monthAv .title, .monthAvs-header .header-lg {
    flex: 1 0 50%;
  }
  
  .monthAvs-header .header, .temp, .rainfall {
    flex: 1 0 25%;
  }
  
  .monthAvs-container .results2-container {
    display: flex;
    flex-flow:  row nwrap;
    align-items: center;
    height: 0px;
    padding: 100 10px;
  }
    
    .monthAvs .header, 
    .monthAvs .temp, 
    .monthAvs .rainfall {
      flex: 1 0 25%;
    }


.userInput-container {
  background-color: rgb(255, 255, 255);
  margin-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.entityType-header {
  margin-top:5px;
  margin-bottom:5px;
}

.commodities-header {
  margin-top:0px;
  margin-bottom:5px;
  padding-top: 0rem;
  font-size: 15px;
}

.commodities-options {
  font-size: 15px;
}

.jumbotron-large {
  padding-left:2rem;
  padding-top:1rem;
  padding-bottom: 1rem;
  padding-right:2rem;
  margin-bottom:2rem;
  background-color:#f9f7f2;
  border-radius:.3rem; 
  overflow:hidden;
  flex-direction: column;
  min-height: 1vh;
  display:flex;
  
}

.selection-container {
  /* margin: 10px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border-top: 1px solid #ddd;
  padding-left:1rem;
  padding-top:1rem;
  padding-bottom: 1rem;
  border-radius: .3rem;
  background-color:rgb(248, 245, 245);
  font-size: 15px;

}

.search-intro {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-bottom: .5px solid rgb(219, 218, 218);
  font-size:15px;
  color: white;
  border-radius: .3rem;
  margin-top: 2rem;
  margin-left:1rem;
  margin-right:1rem;
  background-color: rgb(73, 81, 102);
}

.graph-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-size:15px;
  margin-left:1rem;
  margin-right:1rem;
}

.table-container {
  padding-left: 1rem;
  padding-right: 1rem;
}